/* setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* general styles */
html {
    font-size: 62.5%;
}

body {
    background-color: #ece8e5;
}

header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
}


h1, h2, h3, h4, ul, li, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 10px;
}

h1, h2 {
    color: crimson;
}

/* banner styling */
.bannerContainer {
    width: 300px;
    height: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
}

.background {
    display: inline-block;
    z-index: -10;
}

.background img {
    width: 100%;
}

.eventLogo {
    z-index: 0;
    position: absolute;
    top: 20px;
    right: 10px;
    display: inline-block;
    width: 60%;
}

.eventLogo img {
    max-height:100%; 
    max-width:100%;
}

.legalText {
    display: none;
    z-index: 10;
    position: absolute;
    background-color: #ece8e5;
    height: 100%;
    padding: 20px;
    padding-top: 10px;
    flex-direction: column;
}

.legalText p {
    line-height: 1.2;
    text-align: justify;
    text-justify: inter-word;
}

.close {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    align-self: flex-end;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.close:before, .close:after {
    position: absolute;
    top: 0px;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: black;
}

.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.close:hover::before, .close:focus::before,
.close:hover::after, .close:focus::after {
    background-color: dimgray;
}

.toLegalText {
    position: absolute;
    bottom: 17%;
    left: 5%;
}

.open {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    cursor: pointer;
    appearance: anchor;
    padding: 0;
}

.open:hover, .open:focus {
    color: dimgray;
}

.contentContainer {
    width: 300px;
    height: 250px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-top: 4px;
}

.logo {
    display: inline-block;
    width: 40%;
}

.logo img {
    max-height:100%; 
    max-width:100%;
}

.toDealership {
    text-decoration: none;
    color: #ece8e5;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 5px 5px;
    background-color: #00326b;
}

.toDealership:hover, .toDealership:focus {
    background-color: #2060aa;
}